/* your code */
table{
    width:100%;
    border-collapse: collapse;
    background:white;
    border-radius:1px;
    overflow:hidden;
    box-shadow:0 5px 20px rgba(0,0,0,0.1);
	height:200px
}
thead, th{
	background:lightblue;
	padding:10px
}
tr{
	text-align:center;
}
tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

tbody tr:nth-child(odd) {
    background-color: #ffffff;
}

